body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
}

main{
    height: 100%;
    width: 100%;
}

.container{
    height: 70%;
    width: 60%;
    background: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 40px 20px -20px hsla(240, 73%, 60%, 0.884);
    overflow: hidden;
    display: flex;
}

.paper_box{
    position: absolute;
    top: 42%;
    left: 13.5%;
}

.woman_pic{
    position: absolute;
    top: 12%;
    left: -10%;   
}

.bloc_images{
    width: 50%;
    height: 100%;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 107% 69%;
}

.bloc_accordion{
    width: 50%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}

.accordion{
    width: 75%;
}

.accordion_label{
    cursor: pointer;
    position: relative;
    display: block;
    transition: background 0.1s;
}

.accordion_label::after{
    content: '';
    position: absolute;
    background-image: url(images/icon-arrow-down.svg);
    width: 10px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.accordion_label:hover{
    background: rgba(0, 0, 0, 0.1);
}

.accordion_input{
    display: none;
}

.accordion_content{
    display: none;
}

.accordion_input:checked ~ .accordion_content{
    display: block;
}

.accordion_input:checked ~ .accordion_label::after{
    transform: rotate(180deg) translate(-50%);
    right: 14px;
}